.project-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 3%;
    padding-right: 3%;
    gap: 2%;
}

@media only screen and (max-width: 767px) {
    .project-layout {
        display: block;
    }
}

.project-card-text {
    word-wrap: break-word;
}

.donation-range-tags {
    display: flex;
    flex-wrap: wrap;
}